@import "tailwindcss";
@tailwind utilities;

@theme {
    --font-bitcount: "bitcount-mono-single-square", sans-serif;
    --font-helvetica: "helvetica-neue-lt-pro", sans-serif;
}

:root {
    --font-sans: var(--font-helvetica);
}

.not-selectable {
    user-select: none; /* Prevents text selection behavior on the image */
    -webkit-user-select: none; /* For older WebKit browsers (e.g., Safari, Chrome) */
    -moz-user-select: none; /* For older Firefox browsers */
    -ms-user-select: none; /* For older Internet Explorer/Edge browsers */

    user-drag: none; /* Prevents dragging the image */
    -webkit-user-drag: none; /* For older WebKit browsers */
}