@import "tailwindcss";
@tailwind utilities;

@theme {
    --font-bitcount: "bitcount-mono-single-square", sans-serif;
    --font-helvetica: "helvetica-neue-lt-pro", sans-serif;
}

:root {
    --font-sans: var(--font-helvetica);
}
